
#abt-main
	@include outer-container(60em)
	padding: 15px


#side-column
	@include span-columns(3)

	img
		padding: 4px
		line-height: 1.42857143
		background: white
		border: 1px solid $text-color
		
		display: inline-block
		max-width: 100%
		height auto

	
#content-column
	@include span-columns(9)
	@include omega()

	#tools-column
		@include outer-container()

		.tools-unit
			@include span-columns(2)
			@include omega()


			svg
				+size(em(60px))
				path
					fill: #3F4C5B

#side-column, #content-column
	@media screen and (max-width: 736px)
		@include span-columns(12 of 12)

