#about_main-div
	+outer-container(70em)
	+padding(null 15px 30px 15px)
	+row()


#about_column-side
	+span-columns(3)

	img
		padding: 4px
		line-height: 1.42857143
		background: white
		border: 1px solid $text-color		
		display: inline-block
		max-width: 100%
		height: auto

	
#about_column-main
	+span-columns(9)
	@include omega()
	+row()
	.about_skills-div-1, .about_skills-div-2, .about_skills-div-3
		+span-columns(3 of 9)

	.about_skills-header
		text-align: left
		margin-bottom: 0
	li
		list-style-type: none
		&:before
			content: '\2027'
			font-size: 100px
			line-height: 24px
			vertical-align: text-bottom
			padding-right: 10px

#about_column-side, #about_column-main
	@media screen and (max-width: 736px)
		@include span-columns(12 of 12)

