#contact_main-div
	+outer-container(70em)
	+padding(null 15px 15px 15px)

.contact_form-div
	+span-columns(8)
	form
		margin: 0 auto 50px
		
		input, textarea
			border: 3px solid $accent-color
			width: 100%
			+box-sizing(border-box)
			padding: 10px

			&:focus
				outline: none
				border-color: $accent-light
		textarea
			height: 15em

		.contact_submit-wrap
			text-align: left

		[type="submit"]
			background: $accent-color
			color: white
			font:
				size: 1.5em
				weight: 700
			text-transform: uppercase

			width: 33%
			cursor: pointer

			&:hover
				border-color: $accent-light

	label
		display: block

		span
			display: block
			@extend %small-bold

	.contact_client-wrap
		label
			width: 50%
			float: left
			+box-sizing(border-box)
			padding-bottom: 20px

			&:nth-child(1)
				padding-right: 10px
			&:nth-child(2)
				padding-left: 10px

.contact_info-div
	+span-columns(4)
	background: #fdeced
	color: $text-color

	.contact_info-wrap
		margin: 10%
		h4
			color: $accent-color
			margin-bottom: 1%
		i
			color: $text-color
			padding-right: 5px
			cursor: pointer

+media($mobile)
	.contact_form-div
		+span-columns(12 of 12)
	.contact_info-div
		+span-columns(12 of 12)
