footer
	background: $text-color
	height: 70px

	nav
		a
			color: #fff
			@extend %small-bold

			&:hover
				color: $accent-color

	p
		font:
			size: 13px
			family: Open Sans, san-serif
			weight: 400
		color: #fff