footer
	background: $text-color
	height: 90px
	.content-wrap
		margin-left: 5%
		transform: translateY(35%);
		@include media($mobile)
			transform: translateY(50%)


	nav
		a
			color: #fff
			@extend %small-bold
			display: inline-block
			margin-right: 20px

			&:hover
				color: $accent-color

	.copyright
		font:
			size: em(12, 14)
			family: Open Sans, san-serif
			weight: 400
		text-transform: uppercase
		color: #fff
		margin: 0
