footer
	background: $text-color
	height: 12em

	.footer-wrap
		margin-left: 5%
		transform: translateY(35%);

	nav
		a
			color: #fff
			@extend %small-bold
			display: block
			margin-right: 20px

			&:hover
				color: $accent-color


	.copyright
		font:
			size: em(12, 14)
			family: Open Sans, san-serif
			weight: 400
		text-transform: uppercase
		color: #fff
		margin: 0

+media($mobile)
	footer
		height: 5em

		nav
			a
				display: inline-block
