header
	height: 450px
	background: url(../img/bkgrnd2.png) top left repeat-x

	nav
		ul 
			list-style: none
			width: 100%
			float: right
			margin-top: 0
			background: $text-color
		li
			float: right
			margin-right: 30px
			a
				display: inline-block
				margin: 10px 20px
				color: #fff
				@extend %small-bold

				&:hover
					color: $accent-color
	h1
		font-size: 30px
		color: $text-color
		text-align: center
		letter-spacing: 0.05em
		margin-bottom: 5px
		clear: both
		padding-top: 250px

	.kicker
		font:
			size: 13px
			family: Open Sans, san-serif
			weight: 400
		text-align: center
		text-transform: uppercase
		color: $text-color
		line-height: 1
		margin-top: 0

+media($mobile)
	nav
		margin: 0
		padding: 0
		text-align: center
		ul
			float: none !important
			padding: 0
		li
			display: inline
			float: none !important
			margin: 0 !important
			a
				display: inline-block

