#work
	overflow-x: hidden
.work-belt
	width: 200%
	position: relative
	left: -100%

.thumb-wrap, .work-wrap
	width: 50%
	float: left


#work-main
	@include outer-container(60em)
	padding: 15px

	ul
		padding: 0
		
		li.block
		  @include span-columns(3)
		  @include omega(4n)
		  @include pad()
		  height: 150px
		  position: relative
		  overflow: hidden 
		  margin-bottom: 2em

		  @include after(4)
		  	background:
		  		position: center center
		  		repeat: no-repeat
		  		size: cover
		  	.thumb-overlay
		  		strong
		  			font-size: 13px
		  			text-transform: none
				background:
		  			position: center center
		  			repeat: no-repeat

		  @include media($mobile)
		  	@include span-columns(3)
		  	@include omega(2n)

	  	.thumb-overlay
		  	+position(absolute, -50% 0px null 0px)
		  	height: 100%
		  	background: fade-out($accent-color, 0.1)
		  	text-align: center
		  	@include transition(300ms)
		  	+transform(rotateX(90deg))
		  	+transform-origin(center bottom)
		  	opacity: 0

		  	strong
		  		display: block
		  		padding: 20px
		  		color: white
		  		text-transform: uppercase
		  		font-size: 20px
		  		line-height: 1

		  	.zoom-icon
		  		margin-right: auto
		  		margin-left: auto
		  		+size(2.5em)

		  	p
		  		color: white
		  		font-size: 12px
			
		  &:hover .thumb-overlay
		  	top: 0%
		  	+transform(rotateX(0deg))
		  	opacity: 1

.work-container
	@include outer-container(60em)
	position: relative
	+padding(null 15px 15px 15px)

	i
		cursor: pointer
		opacity: 0.5
		color: $text-color
		+position(absolute, -3% null null -3%)

		&:hover
			opacity: 1	

	h4
		font-size: em(16, 13)

	.pic
		@include span-columns(4)
		@include media($mobile)
			@include span-columns(12 of 12)
		img
			max-width: 100%
			height: auto

		.button
			@include button
			margin-right: auto
			margin-left: auto
	.copy
		@include span-columns(8)
		@include media($mobile)
			@include span-columns(12 of 12)

@media (max-width: 850px)
	.work-container
		i
			+position(absolute, -2% null null 0)
		h4
			padding-left: 5%


