// COLORS

$primary-color: #28415C
$alt-bg-color: #D8DBDE
$text-color: #222222
$accent-color: #F3484D
$bg-color: white
$selection-color: #C4F0F8

// FONTS

$headings-font: Montserrat, sans-serif
$body-copy-font: 'Roboto', sans-serif
