<section>
	<div id="abt-main">
	<h3>About Myself</h3>
		<div id="side-column">
			<div id="face">
				<img src="../assets/img/me.JPG" alt="My Face">
			</div>
			
			<p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong> Quod expedita, eius? Velit ex quaerat doloremque, iste non a ut quas soluta, laboriosam autem placeat quibusdam quasi dolor tempora deleniti dignissimos?</p>
		</div>

		<div id="content-column">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto corrupti iste ullam quisquam pariatur, eius, at omnis mollitia quod quidem nisi id aut sunt! Obcaecati unde eum quae ullam dignissimos.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptate atque, qui adipisci, sit rerum voluptatum neque fuga quidem hic ab assumenda ullam dolorem quae, expedita et ratione sed explicabo!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis distinctio facilis aliquam optio, molestias, dolorum voluptatum ex reiciendis, fuga fugiat laboriosam. Ipsa hic error ut, rerum dolorum, eos sequi vitae.</p>
		</div>
	</div>

</section>