<section id="contact">
	<div id="contact_main-div">
		<h3>Contact</h3>
		
		<div class="contact_form-div">
			<h4>Send Me a Message:</h4>
			<form action="https://formspree.io/{{ site.data.portfolio.e-mail }}"
	      method="POST">
				
				<div class="contact_client-wrap">
					<label for="name"><span>Your Name</span>
		    		<input type="text" name="name" aria-label="Your Name"></label>

		    		<label for="_replyto"><span>Your Email</span>
		    		<input type="email" name="_replyto" aria-label="Your Email"></label>
				</div>
				
	    		<label for="message"><span>Your Message</span>
	    		<textarea name="message" aria-label="Your Message"></textarea></label>

				<div class="contact_submit-wrap">
	    			<input type="submit" value="Send">
	    		</div>
			</form>
		</div>
		<div class="contact_info-div">
			<h4>Email</h4>
			<span>lpeters322@gmail.com</span>

			<h4>Phone</h4>
			<span>(949) 346-1512</span>

			<h4>Social Media</h4>
				{% for social in site.data.portfolio.socials %}
					<a href="{{ social.link }}"><i class="fa social fa-{{ social.icon }} fa-2x" aria-hidden="true" target="_blank"></i></a>
				{% endfor %}
		</div>
	</div>
</section>