<section id="contact">
	<div id="contact-main">
		<h3>Contact</h3>
		
		<div class="form-section">
			<h4>Send Me a Message:</h4>
			<form action="https://formspree.io/{{ site.data.portfolio.e-mail }}"
	      method="POST">
				
				<div class="client-info-wrap">
					<label for="name"><span>Your Name</span>
		    		<input type="text" name="name"></label>

		    		<label for="_replyto"><span>Your Email</span>
		    		<input type="email" name="_replyto"></label>
				</div>
				
	    		<label for="message"><span>Your Message</span>
	    		<textarea name="message" id=""></textarea></label>

				<div class="submit-wrap">
	    			<input type="submit" value="Send">
	    		</div>
			</form>
		</div>
		<div class="social-section">
			<div class="social-wrap">
				<h4>Email</h4>
				<span>lpeters322@gmail.com</span>

				<h4>Phone</h4>
				<span>(949)302-3607</span>

				<h4>Social Media</h4>
					<a href="https://github.com/lapeters"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
					<a href="https://www.linkedin.com/in/lindsay-peters-119b9381"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
					<a href="https://www.facebook.com/lindsay.peters.18"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
					<a href="https://twitter.com/lindsaypeters"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>

			</div>
		</div>
	</div>
</section>