<header>

	<nav>
		<ul>
			<li>
				<a href="">About</a>
				<a href="">Work</a>
				<a href="">Contact</a>
			</li>
		</ul>
	</nav>

	<h1>Lindsay Peters</h1>
	
	<p class="kicker">
	<svg width="10" height="10">
   		<rect x="0" y="0" width="10" height="10" fill="#F3484D"/>
	</svg>
	Developer
	&nbsp;
	
	<svg width="10" height="10">
   		<rect x="0" y="0" width="10" height="10" fill="#1b697c"/>
	</svg>
	Designer
	&nbsp;

	<svg width="10" height="10">
	   <rect x="0" y="0" width="10" height="10" fill="#28415C"/>
	</svg>
	Writer
</p>

</header>