<section id="work">
		<div id="work-main">
				<h3 id="work">Work</h3>	
			<ul>
				{% for project in site.data.portfolio.projects %}

				<li class="block" style="background-image: url(/assets/img/work/sites/{{ project.folder }}/sml.jpeg)">
					<div class="thumb-overlay">
						<strong>{{ project.name }}</strong>
						<div class="zoom-icon"></div>
					</div>
				</li>
				
				{% endfor %}

				<!-- STORIES -->
				{% for story in site.data.portfolio.stories %}

				<li class="block" style="background-image: url(/assets/img/work/stories/{{ story.folder }}/main.jpg);">
					<div class="thumb-overlay">
						<strong>{{ story.headline }}</strong>
						<p>{{ story.date }}</p>
					</div>
				</li>

				{% endfor %}

			</ul>
	</div>
</section>