<section id="work">
		<div id="work-main">
				<h3 id="work">Work</h3>	
			<ul>
				<li class="block">
					<div class="thumb-overlay">
						<strong>TEST IMAGE</strong>
						<div class="zoom-icon"></div>
					</div>
				</li>
				<li class="block">
					<div class="thumb-overlay">
						<strong>TEST IMAGE</strong>
						<div class="zoom-icon"></div>
					</div>
				</li>
				<li class="block">
					<div class="thumb-overlay">
						<strong>TEST IMAGE</strong>
						<div class="zoom-icon"></div>
					</div>
				</li>
				<li class="block">
					<div class="thumb-overlay">
						<strong>TEST IMAGE</strong>
						<div class="zoom-icon"></div>
					</div>
				</li>
				<li class="block">
					<div class="thumb-overlay">
						<strong>TEST IMAGE</strong>
						<div class="zoom-icon"></div>
					</div>
				</li>
				<li class="block">
					<div class="thumb-overlay">
						<strong>TEST IMAGE</strong>
						<div class="zoom-icon"></div>
					</div>
				</li>
				<li class="block">
					<div class="thumb-overlay">
						<strong>TEST IMAGE</strong>
						<div class="zoom-icon"></div>
					</div>
				</li>
				<li class="block">
					<div class="thumb-overlay">
						<strong>TEST IMAGE</strong>
						<div class="zoom-icon"></div>
					</div>
				</li>

			</ul>
	</div>
</section>