<section id="work">

	<div id="work-main">
		<div class="thumb-wrap">
			<div id="thumb-main">
			<h3>Work</h3>	
			<ul>
				<!-- WEBSITES -->
				{% for project in site.data.portfolio.projects %}
					<li class="block" data-folder="{{  project.folder }}" data-link="{{ project.link }}"style="background-image: url(/assets/img/work/sites/{{ project.folder }}/sml.jpeg)">
					<div class="thumb-overlay sites">
						<strong>{{ project.name }}</strong>
						<br><i class="fa fa-angle-double-right fa-4x" aria-hidden="true"></i>
					</div>
					</li>
				{% endfor %}
				<!-- STORIES -->

				{% for story in site.data.portfolio.stories %}
				<li class="block" style="background-image: url(/assets/img/work/stories/{{ story.folder }}/main.jpg);">
					<div class="thumb-overlay">
						<strong>{{ story.headline }}</strong>
						<br><a href="{{ story.link }}" target="_blank"><i class="fa fa-external-link fa-3x" aria-hidden="true"></i></a>
					</div>
				</li>
				{% endfor %}
			</ul>
			</div>
		</div>

		<div class="content-wrap">
			<div id="content-main">
				<div class="row">

					<i class="fa fa-angle-double-left fa-3x work-return" title="Back"></i>
					<h4 class="title">Work Example</h4>
			
					<div class="pic"></div>
					<div class="copy"></div>
				</div>
				<div class="bttn">
					<a href="" target="_blank" class="button">VIST SITE</a>
				</div>
			
			</div>			
		</div>
	</div>
</section>